header{
    background-color: rgb(173, 168, 168);
    justify-content: space-between;
    display: flex;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.high-l{
    text-decoration: underline;
    color: blue;
}
.j{
    background-color: gray;
    width: 5rem;
    height: 2rem;
    color: white;
    text-align: center;
    padding-top: 1rem;
}
.a-l{
    padding: 2% 5%;
}